# Examples
#
# debian: squeeze amd64 updates non-free
# 	  Mirror the debian release squeeze for only amd64
#         Also mirror squeeze-updates and non-free for only amd64
#
# ubuntu: precise lucid i386 amd64 updates universe multiverse
#         Mirror ubuntu release precise for both i386 and amd64
#         Also mirror ubuntu release lucid for both i386 and amd64
#         And mirror precise-updates universe and multiverse
#         Plus lucid-updates universe and multiverse
#
# Written by eric@lembregts.eu on http://www.github.com
